# Dependency folders 
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables 
.env
.env.local
.env.production
client/.env
client/.env.local
client/.env.production
server/.env
server/.env.local
server/.env.production

# Build outputs 
dist/
client/dist/
build/
client/build/

# Logs & Debug files
*.log
logs/
npm-debug.log*
yarn-debug.log*

# OS specific files
.DS_Store
Thumbs.db
